body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    margin-left: 30%;
    margin-top: auto;
}

label, input, textarea, select {
    margin-left: 30%;
}

input:not([type="radio"]):not([type="checkbox"]),
textarea {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 40%;
}

.button-group {
    display: flex;
    margin-left: 30%;
    gap: 15px;
    margin-top: 20px;
}

.submit {
    background-color: rgb(76, 76, 251);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.submit:hover {
    background-color: rgb(70, 70, 198);
}

.clear {
    cursor: pointer;
}